# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle flowtorch'
      'command': 'flowtorch:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'flowtorch'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'flowtorch:toggle'
        }
        {
          'label': 'Flowtorch - Create Graph',
          'command': 'flowtorch:create-graph'
        }
      ]
    ]
  }
]
